*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    display: block;
}
.content{
   display: flex;
   flex-direction: column;
    
}
.header{
    background: rgb(0, 0, 172);
}
.nav{
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.logo{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    /* border: 1px solid black; */
}
.menu{
    /* border: 1px solid black; */
}
.menu__link{
    color: white;
    font-weight: bold;
    margin-left: 0.8em;
}

.title{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em auto;
    color:  rgb(0, 0, 172);
}
.note-register{
    width: 100%;
    max-width: 700px;
    margin: auto;
    border: 1px solid black;
}
.note-register__header{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.imput-element{
    display: flex;
}
.imput-element__imput{
    padding-left: 0.5em;
}
.imput-element__bt{
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
    background: green;
}
.imput-note__bt{
    padding: 0.5em;
}
.note-register__bt{
    padding: 0.8em 1em;
}
.register-history{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.header-tags{
    color: white;
    display: flex;
    background-color: gray;
}
.header-tags__number{
    background-color: blueviolet;
}
.header-tags__note{
    background-color: rgb(180, 117, 0);
}
.tag-number,
.tag-note{
    padding: 0.5em 0;
    text-align: center;
}
.tag-number{
    width: 15%;
    min-width: 80px;
}
.tag-note{
    width: 100%;
    max-width: 300px;
}
.note-elements{
    padding: 0.5em 0;
    background-color: rgb(0, 109, 109);
}
.note-elements__note{
    color: white;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    background-color: rgb(8, 3, 53);
}
.note-elements__number{

}
.note-elements__text{
    position: relative;
    background-color: rgb(53, 133, 0);
}
.note-elements__text--text{
    font-size: 1em;
}
.note-elements__imput{
    width: 75%;
    padding: 5px;
    display: none;
    font-size: 0.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.note-elements__buttons{
    display: flex;
    align-items: center;
    /* background-color: gray; */
}
.note-elements__rename-bt,
.note-elements__delete-bt{
    padding: 0.8em 1.2em;
    margin-right: 0.5em;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;

}
.note-elements__rename-bt{
    background-color: green;
}
.note-elements__delete-bt{
    background-color: red;
}